*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

.clearfix:after{
  content: ""; 
  display: block; 
  clear: both; 
}

header{
	width: 100%;
	height: 70px;
	background-color:skyblue;
}

header .brandlogo{
	padding-top: 10px;
	float:left;
}

header .brandlogo img{
	height: 50px;
}

nav{
	width: 100%;
}

nav ul{
	width: 360px;
	float:right;
	margin-right: 70px
}

nav ul li{
	width: 120px;
	padding: 0 10px;
	line-height: 70px;
	text-align: center;
	color: white;
	font-size: 30px;
	font-family: Impact;
	list-style-type: none;
	float:left;
}



footer{
	width: 100%;
	height: 70px;
	background-color:skyblue;
	color: white;
	text-align: center;
	line-height: 70px;
}

/*_____________________________________________*/
/*ログイン画面*/
.login_form_box{
	width: 500px;
	height: 450px;
	margin: 50px auto 0;
	text-align: center;

}

.login_form_box h2{
	text-align: left;
	margin-bottom: 20px;
}

/*_____________________________________________*/
/*管理者TOP*/
.admin_top_menu{
	width: 70%;
	margin: 50px auto 0;
	text-align: center;
}

.admin_top_menu_box{
	margin-bottom: 50px;
}

table{
	width: 1000px;
	margin:0 auto;
	border-collapse:collapse;
	margin-top: 20px;
	border: 1px solid;
}

th {
	color: white;
	background-color: gray;
	border: 1px solid;
}

td {
	height: 10px;
	border: 1px solid;
}

h2 {
	text-align: left;
}

/*_____________________________________________*/
/*商品一覧*/
.admin_item_list_link{
	width: 70%;
	margin: 0 auto;
	padding-top: 30px; 
	padding-bottom: 30px;
}

.admin_item_list_searchbox {
	width: 70%;
	margin: 0 auto;
}

.admin_item_list_searchbox_left {
	width: 50%;
	float: left;
}

.admin_item_list_searchbox_right {
	width: 50%;
	float: left;
}

.admin_item_list_search_title{
	width: 20%;
	float: left;
	font-weight: bold;
}

.admin_item_list_search_item{
	float: left;
}

.admin_item_list_buttonbox {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

.admin_item_list_result{
	width: 70%;
	margin: 0 auto;
	padding-bottom: 30px;
}

/*_____________________________________________*/
/*顧客一覧*/

.admin_customer_list_link{
	width: 70%;
	margin: 0 auto;
	padding-top: 30px; 
	padding-bottom: 30px;
}

.admin_customer_list_searchbox {
	width: 70%;
	margin: 0 auto;
}

.admin_customer_list_searchbox_left {
	width: 50%;
	float: left;
}

.admin_customer_list_searchbox_right {
	width: 50%;
	float: left;
}

.admin_customer_list_search_title{
	width: 30%;
	float: left;
	font-weight: bold;
}

.admin_customer_list_search_item{
	float: left;
}

.admin_customer_list_buttonbox {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

.admin_customer_list_result{
	width: 70%;
	margin: 0 auto;
	padding-bottom: 30px;
}

/*_____________________________________________*/
/*ジャンル一覧*/

.admin_genre_list_title {
	width: 70%;
	margin: 0 auto;
	padding-top: 30px;
}

.admin_genre_list_box {
	width: 70%;
	margin: 0 auto;
	padding-top: 30px;
	text-align: left;
}

.admin_genre_form {
	width: 70%;
	margin: 0 auto;
	padding-top: 30px;
	text-align: center;
}

/*_____________________________________________*/
/*商品登録*/

.admin_item_regist {
	width: 70%;
	margin: 0 auto;
	padding-top: 30px;
}

.admin_item_regist_left {
	float: left;
	width: 50%;
	margin: 0 auto;
}

.admin_item_regist_right {
	float: left;
	width: 50%;
	margin: 0 auto;
}

.admin_item_regist_navi {
	width: 70%;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: right;
}

/*_____________________________________________*/
/*ユーザー情報詳細*/
.admin_customer_detail {
	width: 70%;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

.admin_customer_detail_left {
	float: left;
	width: 50%;
	margin: 0 auto;
}

.admin_customer_detail_title{
	width: 30%;
	float: left;
	font-weight: bold;
}

.admin_customer_detail_item{
	float: left;
}


.admin_customer_detail_right {
	float: left;
	width: 50%;
	margin: 0 auto;
}

.admin_customer_detail_right table {
	width: 100%;
	border-collapse:collapse;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid;
}

/*_____________________________________________*/
/*ユーザー情報編集*/
.admin_customer_edit {
	width: 70%;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

.admin_customer_edit_left {
	float: left;
	width: 50%;
	margin: 0 auto;
}

.admin_customer_edit_title{
	width: 30%;
	float: left;
	font-weight: bold;
}

.admin_customer_edit_item{
	float: left;
}


.admin_customer_edit_right {
	float: left;
	width: 50%;
	margin: 0 auto;
}

.admin_customer_edit_navi {
	width: 70%;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: right;
}